.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#header-image {
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 40px;
  position: relative;
  z-index: 2;
  height: 60px;
}

#navbar {
  display: flex;
  background-color: #ffc75f;
  font-size: 30px;
  padding-left: 15%;
  padding-right: 15%;
  height: 100px;
  justify-content: space-between;
  border-bottom: 3px solid #e7b355;
}

#navbar-left {
  display: flex;
  align-items: center;
}

#navbar-right {
  display: flex;
  align-items: center;
  width: 200px;
}
#profile-nav {
  display: flex;
  align-items: center;
  height: 70%;
}

#profile-button {
  display: flex;
  align-items: center;
  font-family: 'Sanchez';
  border-radius: 20px;
  height: 50%;
  padding: 10px;
}

#profile-button:hover {
  cursor: pointer;
  transition: 0.2s;
}
#profile-button:active {
  transform: translateY(4px);
}

#profile-button-name {
  background-color: white;
  color: #ffc75f;
  border-radius: 20px 0px 0px 20px;
  padding-left: 10px;
  padding-right: 8px;
  margin-right: -10px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

#translate-page,
#login-page {
  background-color: #ffc75f;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(30vh - 100px);
}

#login-page,
#profile-page {
  height: calc(50vh - 120px);
  padding-top: 50px;
}

#login-page {
  padding-top: 80px;
}

#login-image {
  height: 170px;
  position: absolute;
  left: 25%;
}

#login-splash {
  position: absolute;
  height: 180px;
  left: 23%;
  top: 17%;
}

#login-text {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: absolute;
  left: 45%;
  font-size: 30px;
}

#login-text > h2,
h4 {
  margin: 10px;
  font-weight: 100;
}

#login-outer {
  display: flex;
  align-items: center;
  justify-content: left;
}

#translate-box {
  padding-top: 20px;
  position: absolute;
  left: 25%;
  top: calc(50% - 150px);
  display: flex;
  width: 50%;
  min-height: 300px;
  border-radius: 20px;
  box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.75);
  background-color: white;
  color: black;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.box-bottom {
  display: flex;
  background-color: #845ec2;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
  height: 30px;
}

#translate-box-span {
  font-family: 'Sanchez';
  background-color: white;
  border-radius: 10px;
  font-size: 12px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 6px;
  margin-left: 20px;
}

.translate-image {
  width: 50px;
}

input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  background-color: #efefef;
}

input:focus {
  outline: none;
}

.input {
  width: 75%;
  font-size: large;
}

.outer-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #efefef;
  border-radius: 40px;
  border: 4px solid white;
  min-width: 40%;
  margin-top: 50px;
}

.input-left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15%;
  color: black;
  padding-left: 20px;
}

#vertical-line {
  border-left: 2px solid black;
  height: 50%;
  margin-left: 10px;
}

.arrow-button {
  background-color: #845ec2;
  border: none;
  border-radius: 100%;
  height: 42px;
  width: 42px;
  align-self: center;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-button:hover {
  background-color: #c2afe1;
}

.arrow-button:active {
  background-color: #845ec2;
  transform: translateY(3px);
}

button:hover {
  cursor: pointer;
}

#profile-page {
  background-color: #ffc75f;
  display: flex;
  flex-direction: row;
}

#profile-page-left {
  width: 50%;
}

#profile-page-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#translate-nav {
  display: flex;
  align-items: center;
}

#translate-nav:hover {
  cursor: pointer;
}

#login-container {
  font-family: 'Sanchez';
  position: absolute;
  top: 50%;
  box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  background-color: white;
  color: black;
  width: 50%;
}

#outer-login-input {
  margin: 30px;
}

#clear-translations-button,
#logout-button {
  border: 0;
  background-color: #e83a59;
  color: white;
  text-decoration: bold;
  height: 30px;
  font-size: 20px;
  border-radius: 10px;
  padding: 20px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.2);
}

#clear-translations-button:hover,
#logout-button:hover {
  background-color: #f1899b;
}

#clear-translations-button:active,
#logout-button:active {
  background-color: #e83a59;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

#logout-button {
  width: 130px;
}

#clear-translations-button {
  margin-top: 50px;
  width: 230px;
}

.profile-translation {
  border: 1px solid black;
  background-color: white;
  box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: black;
  padding: 10px;
  margin: 10px;
  font-family: 'Sanchez';
  font-size: 20px;
  word-wrap: break-word;
}

#profile-page-translations {
  color: black;
  box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: white;
  border-radius: 20px;
  margin-left: calc(100% - 90%);
  max-height: calc(100vh - 20vh);
}

#profile-page-translations-footer {
  height: 20px;
  background-color: red;
  border-radius: 20px 20px 0px 0px;
}

#logo-container {
}

#splash {
  width: 100px;
  position: fixed;
  z-index: 1;
}
