@import url(https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);
@import url(https://fonts.googleapis.com/css?family=Sanchez);

body {
  margin: 0;
  font-family: 'Love Ya Like A Sister';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: 'source-code-pro, Menlo, Monaco, Consolas, ' Courier New '',
    monospace;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

h1 {
  margin-bottom: 10px;
}
